<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kemas Ocha Khairi Saputra</title>
</head>

<body>
    <nav>
        <a href="/index">Home</a> |
        <a href="/cv">Download CV</a> |
        <a href="/contact/">Contact</a> |
        <a href="/about">About me</a>
    </nav>

    <hr />

    <article>
        <h1>About Me</h1>
        <p>
            Hi, saya adalah seorang mahasiswa yang berdomisili di Bandar Lampung.</br>
            Saat ini saya menempuh kuliah di Politeknik Negeri Lampung.</br>
            Namun saya juga seorang freelancer dibidang service komputer dan laptop.</br>
        </p>
        <p>
            <video width="380px" height="300px" controls>
                <source src="/assets/video.mp4" type="video/mp4"/>
            </video>
        </p>
    </article>

    <hr>
    <footer style="text-align: center;">
        <p>Copyright &copy; 2022 Kemas Oca Khairi Saputra.</p>
    </footer>
</body>
</html>