<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kemas Ocha Khairi Saputra</title>
</head>

<body>
<h4>CV Kemas Ocha Khairi Saputra</h4>
<object data="/assets/CV.pdf" width="600" height="400"></object>
</body>
</html>