<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kemas Ocha Khairi Saputra</title>
</head>

<body>
    <nav>
        <a href="/index">Home</a> |
        <a href="/cv">Download CV</a> |
        <a href="/contact">Contact</a> |
        <a href="/about">About me</a>
    </nav>

    <hr />

    <header style="text-align: center;">
        <img src="/assets/profile.jpg" width="150" height="150" style="border-radius: 50%;"/>
        <h1>Kemas Ocha Khairi Saputra</h1>
        <h3>(A.Md.Kom)</h3>
    </header>

    <hr />

    <article style="text-align: center;">
        <h2>Tentang Saya</h2>
        <p>
            Hi, Saya Kemas Ocha saya saat ini berdomisili di Bandar Lampung</br>
            saya merupakan mahasiswa Manajemen Informatika di Politeknik Negeri Lampung.
        </p>
    </article>

    <div style="max-width: 550px; margin: 3em auto">
        <table bgcolor="#e2b1ff"border="1" width="100%">
            <thead>
                <tr>
                    <td bgcolor="#627cff" align="center">Skill</td>
                    <td bgcolor="#627cff" align="center">Pengalaman</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>
                <ul>
                    <li>Repair Hardware</li>
                    <li>Office Software</li>
                    <li>Marketing</li>
                </ul>
                </td>
                <td>
                <ul>
                    <li>Freelance service komputer</li>
                    <li>Teknisi service center Asus Jakarta Pusat</li>
                    <li>Kepala teknisi service center Hawlet Packard Bandung </li>
                </ul>
                </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <footer style="text-align: center;">
        <p>Copyright &copy; 2022 Kemas Ocha Khairi Saputra.</p>
    </footer>
</body>
</html>